@import './assets/scss/utils';
@import './assets/scss/components';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  width: 100%;
}
h1{
  font-family: nunito, sans-serif;
  font-weight: 400;
  font-size: rem(40);
  line-height: rem(40);

}
h2{
  font-family: nunito, sans-serif;
  font-weight: 400;
  font-size: rem(22);
  line-height: rem(28);
}
p{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(26);
}